local.cor.conf
watchdog.cronjob.out
github.csv
cor.csv
downloaded
sweet-alignment-manager/AML-Jar
sweet-alignment-manager/sweet
sweet-alignment-manager/target/*
sweet-alignment-manager/alignments/*
sc/target*
sc/augment_wikidata_definitions/project/target*
